In [1]:
# Dependencies
import matplotlib.pyplot as plt
import requests
import pandas as pd
#from config import api_key_omdb
from config import api_key
import json
import numpy as np

In [2]:
movie_list = pd.read_csv("movies.csv")
movie_list.head()

                      Title
0  The Shawshank Redemption
1             The Godfather
2           The Dark Knight
3     The Godfather Part II
4              12 Angry Men

In [3]:
movie_list['id'] = ''
movie_list

                        Title id
0    The Shawshank Redemption
1               The Godfather
2             The Dark Knight
3       The Godfather Part II
4                12 Angry Men
..                        ... ..
245                  Jai Bhim
246                   Aladdin
247                    Gandhi
248                  The Help
249      Beauty and the Beast

[250 rows x 2 columns]

In [4]:
# TMDB API call
movie=movie_list['Title'][100]
base_url="https://api.themoviedb.org/3/search/movie?"
build_url = f'https://api.themoviedb.org/3/search/movie?query={movie}&api_key={api_key}'
response=requests.get(build_url).json()
#print(response.url)
print(json.dumps(response, indent=4, sort_keys=True))

{
    "page": 1,
    "results": [
        {
            "adult": false,
            "backdrop_path": "/yIonSXf1jdNihhK8PssxO6KCIfz.jpg",
            "genre_ids": [
                878,
                18
            ],
            "id": 185,
            "original_language": "en",
            "original_title": "A Clockwork Orange",
            "overview": "In a near-future Britain, young Alexander DeLarge and his pals get their kicks beating and raping anyone they please. When not destroying the lives of others, Alex swoons to the music of Beethoven. The state, eager to crack down on juvenile crime, gives an incarcerated Alex the option to undergo an invasive procedure that'll rob him of all personal agency. In a time when conscience is a commodity, can Alex change his tune?",
            "popularity": 47.075,
            "poster_path": "/4sHeTAp65WrSSuc05nRBKddhBxO.jpg",
            "release_date": "1971-12-19",
            "title": "A Clockwork Orange",
            "video": false,
            "vote_average": 8.212,
            "vote_count": 11986
        },
        {
            "adult": false,
            "backdrop_path": null,
            "genre_ids": [],
            "id": 206442,
            "original_language": "en",
            "original_title": "A Clockwork Orange",
            "overview": "Video installation showing the film \"A Clockwork Orange\", reduced to its colour.",
            "popularity": 0.6,
            "poster_path": null,
            "release_date": "2013-07-09",
            "title": "A Clockwork Orange",
            "video": false,
            "vote_average": 8.6,
            "vote_count": 9
        },
        {
            "adult": false,
            "backdrop_path": "/2fwPrfty54UycbtWakUK1Y95eoA.jpg",
            "genre_ids": [
                99
            ],
            "id": 333275,
            "original_language": "fr",
            "original_title": "Il \u00e9tait une fois\u2026 Orange M\u00e9canique",
            "overview": "A dystopian crime film adapted, produced, and directed by Stanley Kubrick, based on Anthony Burgess's novel A Clockwork Orange. Where a sadistic gang leader is imprisoned and volunteers for a conduct-aversion experiment, but it doesn't go as planned.",
            "popularity": 1.952,
            "poster_path": "/qr3MW5UVWzlQhuKnOH4UY0ltfDV.jpg",
            "release_date": "2012-12-01",
            "title": "Once Upon a Time\u2026 A Clockwork Orange",
            "video": false,
            "vote_average": 7.0,
            "vote_count": 9
        },
        {
            "adult": false,
            "backdrop_path": null,
            "genre_ids": [
                99
            ],
            "id": 204453,
            "original_language": "en",
            "original_title": "Great Bolshy Yarblockos!: Making 'A Clockwork Orange'",
            "overview": "In this documentary, we follow Stanley Kubrick as he creates one of the most controversial films of all time, one that retains its power to shock audiences, even after 35 years. At the time of its release, A Clockwork Orange created a firestorm of controversy. Through interviews with collaborators, filmmakers, screenwriters and authors, we come to appreciate Stanley Kubrick as an artist unafraid to take risks and court controversy, committed unwaveringly to his single-minded goal: the highest artistic quality of his films.",
            "popularity": 0.943,
            "poster_path": "/zGQ8NAJsWWp5SnLxgueXR6cVc5M.jpg",
            "release_date": "2007-10-23",
            "title": "Great Bolshy Yarblockos!: Making 'A Clockwork Orange'",
            "video": false,
            "vote_average": 6.0,
            "vote_count": 7
        },
        {
            "adult": false,
            "backdrop_path": "/7JM0tqX6IwhH8KkF8seJRy7gxqw.jpg",
            "genre_ids": [
                99
            ],
            "id": 143054,
            "original_language": "nl",
            "original_title": "Still Tickin': The Return of 'A Clockwork Orange'",
            "overview": "Produced by Channel 4, Still Tickin\u00b4: The Return of A Clockwork Orange examines the controversy over Kubrick\u2019s iconic film, explaining the film\u2019s \u201cdemonic level of attention,\u201d and its influence on culture, politics and society, which led to the director\u2019s self-imposed ban.",
            "popularity": 2.419,
            "poster_path": "/4tOeLVwr8ss7kncXiIF5n3UEuQo.jpg",
            "release_date": "2000-03-18",
            "title": "Still Tickin': The Return of 'A Clockwork Orange'",
            "video": false,
            "vote_average": 5.8,
            "vote_count": 5
        },
        {
            "adult": false,
            "backdrop_path": null,
            "genre_ids": [
                35,
                18
            ],
            "id": 980514,
            "original_language": "en",
            "original_title": "A Clockwork Orange Juice",
            "overview": "A man asks for a drink, and then is confused when he gets a drink.",
            "popularity": 0.6,
            "poster_path": "/52skfedsFO6M0rMagxiKzKk7lQu.jpg",
            "release_date": "2015-10-12",
            "title": "A Clockwork Orange Juice",
            "video": false,
            "vote_average": 0.0,
            "vote_count": 0
        },
        {
            "adult": false,
            "backdrop_path": null,
            "genre_ids": [
                99
            ],
            "id": 493064,
            "original_language": "en",
            "original_title": "An Examination of Kubrick's A Clockwork Orange",
            "overview": "An examination of Kubrick\u2019s \u2018A Clockwork Orange\u2019 on Camera 3 (1972)",
            "popularity": 0.6,
            "poster_path": null,
            "release_date": "1972-01-01",
            "title": "An Examination of Kubrick's A Clockwork Orange",
            "video": false,
            "vote_average": 4.0,
            "vote_count": 1
        },
        {
            "adult": false,
            "backdrop_path": null,
            "genre_ids": [
                99
            ],
            "id": 954149,
            "original_language": "ru",
            "original_title": "\u041a\u043b\u044e\u0447 \u0434\u043b\u044f \u0437\u0430\u0432\u043e\u0434\u043d\u043e\u0433\u043e \u0430\u043f\u0435\u043b\u044c\u0441\u0438\u043d\u0430",
            "overview": "The film \"The Key to a clockwork Orange\" is dedicated to the street war of anti-fascists and nationalists of the 2000s. The focus is on the musical preferences and political ideas of the conflict participants who lost their health and lives in the bloody FA-ANTIFA confrontation. It was a subcultural war, the main front of which was music. It was conducted by very similar young people who did not fit into the social structure of modern Russian society. Now they have matured, and the activity of street confrontation has decreased. The main feeling that the heroes of the film, named after the cult novel by Anthony Burgess and Stanley Kubrick's tape, indulge in is nostalgia, and after it comes a new understanding of the years experienced and an understanding of the enduring value of the main motor of conflict activity \u2013 youth.",
            "popularity": 0.6,
            "poster_path": null,
            "release_date": "2014-03-01",
            "title": "The Key to the Clockwork Orange",
            "video": false,
            "vote_average": 0.0,
            "vote_count": 0
        }
    ],
    "total_pages": 1,
    "total_results": 8
}

In [5]:
#response['results'][0]['id']

In [9]:
exception_list = []
for index, row in movie_list.iterrows():
    movie=movie_list['Title'][index]
    base_url="https://api.themoviedb.org/3/search/movie?"
    build_url = f'{base_url}query={movie}&api_key={api_key}'
    response=requests.get(build_url).json()
    #print(response.url)

    try:
        movie_list.loc[index, "id"] = response['results'][0]['id']
    except (KeyError, IndexError):
        # If no movie name is found, set the movie id as NaN .
        movie_list.loc[index, "id"] = np.nan
        exception_list.append(movie_list.loc[index, "Title"])

In [10]:
print(exception_list)

['Gisaengchung', 'Oldeuboi', 'Capharnaüm']

In [13]:
#Print the DataFrame
movie_list.head()
print(movie_list.shape)

(250, 2)

In [14]:
# Export the City_Data into a csv
#movie_list.to_csv("movie_list.csv")

In [15]:
# movie_list_df = movie_list.loc[movie_list['id']=='NaN']
# movie_list_df

In [16]:
#Drop NaN rows
movie_list.dropna(how='any',inplace=True)

In [17]:
#Check size of Data Frame
movie_list.shape

(247, 2)

In [18]:
#Add columns name to the DataFrame
movie_list[['imdb_id',
            'budget',
            'genres',
            'revenue',
            'runtime',
            'popularity',
            'release_date',
            'production_countries'
            ,'tmdb_rating']] =''
movie_list

,Title,id,imdb_id,budget,genres,revenue,runtime,popularity,release_date,production_countries,tmdb_rating
0,The Shawshank Redemption,278,,,,,,,,,
1,The Godfather,238,,,,,,,,,
2,The Dark Knight,155,,,,,,,,,
3,The Godfather Part II,240,,,,,,,,,
4,12 Angry Men,389,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...
245,Jai Bhim,855400,,,,,,,,,
246,Aladdin,420817,,,,,,,,,
247,Gandhi,783,,,,,,,,,
248,The Help,50014,,,,,,,,,
249,Beauty and the Beast,10020,,,,,,,,,

In [13]:
# movie_id=movie_list['id'][0]
# url_ById = "https://api.themoviedb.org/3/movie/"
# build_url_ById=f"{url_ById}{movie_id}?api_key={api_key}"
# url_byid_response=requests.get(build_url_ById).json()
# print(json.dumps(url_byid_response, indent=4, sort_keys=True))

In [14]:
#imdb_id = url_byid_response['imdb_id']
#release_date = url_byid_response['release_date']
#url_byid_response['revenue']
#url_byid_response['runtime']

# #extracting genre names from list
# for i in range(0,len(url_byid_response['genres'])):
#     print(url_byid_response['genres'][i]['name'])

# #extracting genre names from list
# for i in range(0,len(url_byid_response['production_countries'])):
#     print(url_byid_response['production_countries'][i]['name'])

#url_byid_response['popularity']
#url_byid_response['budget']

#url_byid_response['vote_average']

In [15]:
# #API call, search movie by ID
# for i in range(0,len(movie_list['Title']))
#     movie_id=movie_list['id'][i]
#     url_ById = "https://api.themoviedb.org/3/movie/"
#     build_url_ById=f"{url_ById}{movie_id}?api_key={api_key}"
#     url_byid_response=requests.get(build_url_ById).json()
#     #print(json.dumps(url_byid_response, indent=4, sort_keys=True))

In [20]:
#
for index, row in movie_list.iterrows():
    try:
        movie_id=movie_list['id'][index]
        base_url_ById = "https://api.themoviedb.org/3/movie/"
        build_url_ById=f"{base_url_ById}{movie_id}?api_key={api_key}"
        url_byid_response=requests.get(build_url_ById).json()
        movie_list.loc[index, "imdb_id"] = url_byid_response['imdb_id']
        movie_list.loc[index, "release_date"] = url_byid_response['release_date']
        movie_list.loc[index, "revenue"] = url_byid_response['revenue']
        movie_list.loc[index, "runtime"]= url_byid_response['runtime']

        #extracting genre names from list
        for i in range(0,len(url_byid_response['genres'])):
            movie_list.loc[index, "genres"]=url_byid_response['genres'][i]['name']

        #extracting production_countries names from list
        for i in range(0,len(url_byid_response['production_countries'])):
            movie_list.loc[index, "production_countries"]=url_byid_response['production_countries'][i]['name']

        movie_list.loc[index, "popularity"] = url_byid_response['popularity']
        movie_list.loc[index, "budget"] = url_byid_response['budget']
        movie_list.loc[index, "tmdb_rating"] = url_byid_response['vote_average']
    except (KeyError, IndexError):
        # If no movie name is found, set the movie id as NaN .
        movie_list.loc[index, "imdb_id"] = np.nan
        movie_list.loc[index, "release_date"] = np.nan
        movie_list.loc[index, "revenue"] = np.nan
        movie_list.loc[index, "runtime"]= np.nan
        movie_list.loc[index, "popularity"] = np.nan
        movie_list.loc[index, "budget"] = np.nan
        movie_list.loc[index, "tmdb_rating"] = np.nan
        movie_list.loc[index, "production_countries"] = np.nan

In [ ]:
# Export the City_Data into a csv
movie_list.to_csv("movie_df.csv")

In [ ]:
movie_list.head(40)