In [1]:
# Dependencies
import matplotlib.pyplot as plt
import requests
import pandas as pd
from scipy.stats import linregress
from config import tmdb_api_key
from config import omdb_api_key
import json
import numpy as np
import cpi
import time

In [2]:
# Check that the CSV was read properly
movie_import = pd.read_csv("movies_metadata.csv", low_memory=False)
print(movie_import.shape)
movie_import.head()

(45466, 24)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [3]:
movie_import.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [4]:
# Check the dataset's budget and revenue values to see how many entries don't have said data
print("Budget value counts:")
print(movie_import["budget"].value_counts())
print("---------------------------------------")
print("Revenue value counts:")
print(movie_import["revenue"].value_counts())

Budget value counts:
budget
0           36573
5000000       286
10000000      259
20000000      243
2000000       242
            ...
923             1
72500000        1
2160000         1
4439832         1
1254040         1
Name: count, Length: 1226, dtype: int64
---------------------------------------
Revenue value counts:
revenue
0.0           38052
12000000.0       20
11000000.0       19
10000000.0       19
2000000.0        18
              ...
36565280.0        1
439564.0          1
35610100.0        1
10217873.0        1
1413000.0         1
Name: count, Length: 6863, dtype: int64

In [5]:
# Drop duplicate movies (movie entries with the same title and release date) from the imported data
movie_import.drop_duplicates(subset=["release_date", "title"], keep='first', inplace=True)

In [6]:
# View if a movie had 0 budget or not (true/false)
# First, convert the budget column from a string to numeric and write NaN values to non-numeric cells
movie_import["budget"] = pd.to_numeric(movie_import['budget'], errors='coerce', downcast='integer')
no_budget = movie_import["budget"]==0
no_budget

0        False
1        False
2         True
3        False
4         True
         ...
45461     True
45462     True
45463     True
45464     True
45465     True
Name: budget, Length: 45434, dtype: bool

In [7]:
# Create a DataFrame from the last cell's result
no_budget_df = movie_import[no_budget]
# Remove the rows with zero budget movies
movie_import=movie_import[~no_budget]
movie_import

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
3,False,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
5,False,NaN,60000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
6,False,NaN,58000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45402,False,NaN,2000000.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,293654,tt3761706,ru,Корпоратив,"Igor, a furniture store manager, tries to figu...",...,2014-09-18,0.0,89.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Corporate Event,False,3.5,4.0
45408,False,NaN,2000000.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,100152,tt0417949,ru,Марс,"Somewhere deep, deep in Russia there is a town...",...,2004-11-11,0.0,100.0,[],Released,NaN,Mars,False,5.0,2.0
45409,False,NaN,800000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,62757,tt0933361,en,Dikari,"The sea, August, interesting and simple people...",...,2006-11-23,1328612.0,100.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Savages,False,5.8,6.0
45412,False,NaN,2000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,63281,tt1718881,en,Про любоff,"У девушки Даши, приехавшей с подругой «покорят...",...,2010-09-30,1268793.0,107.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Pro Lyuboff,False,4.0,3.0
45422,False,NaN,5000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,63898,tt1110037,ru,Антидурь,Failing to complete an important assignment wi...,...,2007-09-06,1413000.0,91.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Antidur,False,1.0,1.0

In [8]:
# View if a movie had 0 budget or not (true/false)
# First, convert the budget column from a string to numeric and write NaN values to non-numeric cells
movie_import["revenue"] = pd.to_numeric(movie_import["revenue"], errors="coerce", downcast="float")
no_revenue = movie_import["revenue"]==0
no_revenue

0        False
1        False
3        False
5        False
6         True
         ...
45402     True
45408     True
45409    False
45412    False
45422    False
Name: revenue, Length: 8883, dtype: bool

In [9]:
# Create a DataFrame from the last block's result
no_revenue_df = movie_import[no_revenue]
# Remove the rows with zero budget movies
movie_import=movie_import[~no_revenue]
print(movie_import.shape)
movie_import

(5378, 24)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
3,False,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
5,False,NaN,60000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
8,False,NaN,35000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,1995-12-22,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45250,False,NaN,12000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,24049,tt0479751,ta,சிவாஜி,Corrupt police and politicians target a comput...,...,2007-06-14,19000000.0,185.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}, {'iso_6...",Released,NaN,Sivaji: The Boss,False,6.9,25.0
45399,False,NaN,750000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,280422,tt3805180,ru,Все и сразу,NaN,...,2014-06-05,3.0,0.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,All at Once,False,6.0,4.0
45409,False,NaN,800000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,62757,tt0933361,en,Dikari,"The sea, August, interesting and simple people...",...,2006-11-23,1328612.0,100.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Savages,False,5.8,6.0
45412,False,NaN,2000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,63281,tt1718881,en,Про любоff,"У девушки Даши, приехавшей с подругой «покорят...",...,2010-09-30,1268793.0,107.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Pro Lyuboff,False,4.0,3.0
45422,False,NaN,5000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,63898,tt1110037,ru,Антидурь,Failing to complete an important assignment wi...,...,2007-09-06,1413000.0,91.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Antidur,False,1.0,1.0

In [10]:
# Check if there are any 0 values remaining for either budget or revenue
print(f"Budget check: ")
print(movie_import["budget"].min())
print(f"Revenue check: ")
print(movie_import["revenue"].min())

Budget check:
1.0
Revenue check:
1.0

In [11]:
# Further fitler down the original movie dataset by removing movies with budgets and revenues less than $1000
movie_prep1 = movie_import[movie_import["budget"]>=1000]
movie_prep1 = movie_import[movie_import["revenue"]>=1000]
movie_prep1

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
3,False,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
5,False,NaN,60000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
8,False,NaN,35000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,1995-12-22,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45167,False,NaN,11000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,395834,tt5362988,en,Wind River,An FBI agent teams with the town's veteran gam...,...,2017-08-03,184770205.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Nothing is harder to track than the truth.,Wind River,False,7.4,181.0
45250,False,NaN,12000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,24049,tt0479751,ta,சிவாஜி,Corrupt police and politicians target a comput...,...,2007-06-14,19000000.0,185.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}, {'iso_6...",Released,NaN,Sivaji: The Boss,False,6.9,25.0
45409,False,NaN,800000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,62757,tt0933361,en,Dikari,"The sea, August, interesting and simple people...",...,2006-11-23,1328612.0,100.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Savages,False,5.8,6.0
45412,False,NaN,2000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,63281,tt1718881,en,Про любоff,"У девушки Даши, приехавшей с подругой «покорят...",...,2010-09-30,1268793.0,107.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Pro Lyuboff,False,4.0,3.0
45422,False,NaN,5000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,63898,tt1110037,ru,Антидурь,Failing to complete an important assignment wi...,...,2007-09-06,1413000.0,91.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Antidur,False,1.0,1.0

In [12]:
# Make a new DataFrame and import the title column from the metadata and make a blank id column to be populate
movie_prep2 = pd.DataFrame(movie_prep1["original_title"])
movie_prep2.rename(columns={"original_title": "Title"}, inplace=True)
movie_prep2['id'] = ''
movie_prep2

                   Title id
0              Toy Story
1                Jumanji
3      Waiting to Exhale
5                   Heat
8           Sudden Death
...                  ... ..
45167         Wind River
45250             சிவாஜி
45409             Dikari
45412         Про любоff
45422           Антидурь

[5316 rows x 2 columns]

In [13]:
movie_list = movie_prep2.sample(1000)
movie_list.reset_index(inplace=True, drop=True)
movie_list

                               Title id
0     Home Alone 2: Lost in New York
1             Orca: The Killer Whale
2    Martin Lawrence Live: Runteldat
3                          Daredevil
4                           L'avenir
..                               ... ..
995                             Race
996                           Hostel
997                       The Wizard
998                           Maniac
999                   Der rote Baron

[1000 rows x 2 columns]

In [14]:
# Test a TMDB API call based on an index of the movie list and printing the json response
movie=movie_list['Title'][100]
base_url="https://api.themoviedb.org/3/search/movie?"
build_url = f'https://api.themoviedb.org/3/search/movie?query={movie}&api_key={tmdb_api_key}'
response=requests.get(build_url).json()
#print(response.url)
print(json.dumps(response, indent=4, sort_keys=True))

{
    "page": 1,
    "results": [
        {
            "adult": false,
            "backdrop_path": "/lYkxECrpZuaDUixxze5cXpvEomf.jpg",
            "genre_ids": [
                18
            ],
            "id": 55720,
            "original_language": "en",
            "original_title": "A Better Life",
            "overview": "A gardener in East L.A. struggles to keep his son away from gangs and immigration agents while traveling across town to perform landscaping work for the city's wealthy landowners.",
            "popularity": 8.749,
            "poster_path": "/eY9wOw5PjrRXUTLgNmqWb60it10.jpg",
            "release_date": "2011-06-24",
            "title": "A Better Life",
            "video": false,
            "vote_average": 7.198,
            "vote_count": 200
        },
        {
            "adult": false,
            "backdrop_path": "/2yS8gTQdzy3eP9SakyAFX9yOLSN.jpg",
            "genre_ids": [
                18
            ],
            "id": 85546,
            "original_language": "fr",
            "original_title": "Une vie meilleure",
            "overview": "Yann, a cook, and Nadia, a waitress and mother of 9-year-old child, decide to risk everything on the purchase of a restaurant.  With plenty of talent, energy, love and dreams, but no finance of their own, they find themselves forced into a jungle of financing and bank loans that quickly overwhelms them. To bail them out, Nadia has to take a job in Canada, while Yann is forced to stay behind to save the restaurant.  Together, he and the child confront a relentless avalanche of creditors, an uncaring system and the daily grind from which there is no respite\u2026  Yann finally understands that his only chance of salvation lies in joining his lover \u2013 as well as reuniting mother and child \u2013 by following Nadia to Canada and a better life.",
            "popularity": 6.952,
            "poster_path": "/rbakPCBP4lCbChOxwB9PuB6Aq4w.jpg",
            "release_date": "2011-11-18",
            "title": "A Better Life",
            "video": false,
            "vote_average": 6.323,
            "vote_count": 116
        },
        {
            "adult": false,
            "backdrop_path": null,
            "genre_ids": [
                99
            ],
            "id": 418293,
            "original_language": "en",
            "original_title": "A Better Life",
            "overview": "There is no God. Now what? If this is the only life we have, how does that affect how we live our lives, how we treat each other, and cope with death. As a follow-up to one of Kickstarter\u2019s most successful publishing projects, photographer and filmmaker Chris Johnson introduces us to some of the many voices from his book. In this fascinating documentary \u2014 learn the stories behind the book in interviews with some of our greatest thinkers. Join Chris as he explores issues of joy &amp; meaning and travels around the globe meeting people from all walks of life and backgrounds who challenge the false stereotypes of atheists as immoral and evil. From Daniel Dennett and A.C. Grayling, to Julia Sweeney and Robert Llewellyn \u2014learn the various ways many atheists have left religion to a better life filled with love, compassion, hope, and wonder.",
            "popularity": 0.99,
            "poster_path": "/ps72TVaZfg9QaAVPWJ80GLh1kFV.jpg",
            "release_date": "2015-05-01",
            "title": "A Better Life",
            "video": false,
            "vote_average": 8.5,
            "vote_count": 2
        },
        {
            "adult": false,
            "backdrop_path": null,
            "genre_ids": [],
            "id": 570229,
            "original_language": "en",
            "original_title": "A Better Life",
            "overview": "A new treatment for her comatose husband compels Diane to reexamine their relationship.",
            "popularity": 0.6,
            "poster_path": "/a7oyshtlPmm13xnv2dWdoNMbV0X.jpg",
            "release_date": "2013-03-03",
            "title": "A Better Life",
            "video": false,
            "vote_average": 4.0,
            "vote_count": 1
        },
        {
            "adult": false,
            "backdrop_path": null,
            "genre_ids": [],
            "id": 703128,
            "original_language": "it",
            "original_title": "Una vita migliore",
            "overview": "Rome: Andrea Casadei is a young investigator specializing in audio interceptions. Is often encountered in Piazza Navona with his friend Gigi, street artist frustrated and obsessed with success at all costs.",
            "popularity": 0.6,
            "poster_path": "/38UAUoeS01SFgEeI7F7zMfHPtk1.jpg",
            "release_date": "2007-11-30",
            "title": "A Better Life",
            "video": false,
            "vote_average": 0.0,
            "vote_count": 0
        },
        {
            "adult": false,
            "backdrop_path": null,
            "genre_ids": [
                80,
                18
            ],
            "id": 670948,
            "original_language": "es",
            "original_title": "Una Vida Mejor",
            "overview": "Two desperate families find their quest for a better life in the United States challenged by prejudice and injustice in director Andrew James' harsh critique of the American Dream. For two families who successfully manage to make their way across the border and into the United States, the harrowing trip through an unforgiving landscape was only the beginning of their treacherous journey. How does one survive in a place where right has become wrong, and the perpetrator is now the victim? Some turn to crime, inadvertently falling into a vicious cycle with the power to destroy families and consume lives before they've even had a chance to prove themselves.",
            "popularity": 0.932,
            "poster_path": "/wBXP6ekqon02uNKd2GneWgAcdnP.jpg",
            "release_date": "2008-03-02",
            "title": "A Better Life",
            "video": false,
            "vote_average": 6.7,
            "vote_count": 3
        },
        {
            "adult": false,
            "backdrop_path": null,
            "genre_ids": [
                99
            ],
            "id": 511460,
            "original_language": "de",
            "original_title": "Das bessere Leben ist anderswo",
            "overview": "The film takes place in three nations: in Switzerland, Cuba and Bosnia. In each of these three countries we accompany persons who dream of a better life elsewhere.",
            "popularity": 0.656,
            "poster_path": "/dcavRjFF04a2GI8Ykx9xUiqAOL9.jpg",
            "release_date": "2012-04-01",
            "title": "A better life is elsewhere",
            "video": false,
            "vote_average": 0.0,
            "vote_count": 0
        },
        {
            "adult": false,
            "backdrop_path": "/zU5E25ziFuf8urYzQeJUQ18v1nI.jpg",
            "genre_ids": [
                35
            ],
            "id": 1187121,
            "original_language": "zh",
            "original_title": "\u7a77\u5144\u5bcc\u5f1f",
            "overview": "",
            "popularity": 3.541,
            "poster_path": "/nfsenNRcHGUhHcmj4D5onDOxMKP.jpg",
            "release_date": "2023-10-04",
            "title": "The Better Life",
            "video": false,
            "vote_average": 9.0,
            "vote_count": 1
        },
        {
            "adult": false,
            "backdrop_path": null,
            "genre_ids": [],
            "id": 1150159,
            "original_language": "en",
            "original_title": "For a better life",
            "overview": "Laure Prouvost Short.",
            "popularity": 0.6,
            "poster_path": null,
            "release_date": "2006-01-01",
            "title": "For a better life",
            "video": false,
            "vote_average": 0.0,
            "vote_count": 0
        },
        {
            "adult": false,
            "backdrop_path": null,
            "genre_ids": [
                18
            ],
            "id": 1175242,
            "original_language": "bn",
            "original_title": "Anonymous (a better life)",
            "overview": "This silent film is a story of a man and his unnatural activities.",
            "popularity": 0.84,
            "poster_path": "/vndRN3XQI6l58YRSPh86F9QqRAp.jpg",
            "release_date": "2020-02-07",
            "title": "Anonymous (a better life)",
            "video": false,
            "vote_average": 0.0,
            "vote_count": 0
        },
        {
            "adult": false,
            "backdrop_path": null,
            "genre_ids": [],
            "id": 895110,
            "original_language": "en",
            "original_title": "What is a better life (exorcised in the middle)",
            "overview": "In the words of Christina Sharpe, a \"visually and sonically rich\" work inspired by Dionne Brand's \"A Map to the Door of No Return: Notes to Belonging.\"  Commissioned by Hayward Gallery Touring and The Box, Plymouth, for British Art Show 9.",
            "popularity": 0.6,
            "poster_path": "/z3YqJ1GSnCPqS9zzIYw70EInNAv.jpg",
            "release_date": "2021-11-06",
            "title": "What is a better life (exorcised in the middle)",
            "video": false,
            "vote_average": 0.0,
            "vote_count": 0
        },
        {
            "adult": false,
            "backdrop_path": "/vcd37bEZ9jxef89rPksYJ3u6KqC.jpg",
            "genre_ids": [
                35,
                10749,
                10402
            ],
            "id": 874773,
            "original_language": "fr",
            "original_title": "L'Amour c\u2019est mieux que la vie",
            "overview": "Upon their release from prison twen\u00adty years ear\u00adli\u00ader, G\u00e9rard, Ary and Philippe asked them\u00adselves if hon\u00adesty was not the best rack\u00adet of them all. Today, they are insep\u00ada\u00adra\u00adble and scrupu\u00adlous\u00adly above board. But G\u00e9rard learns he is ter\u00admi\u00adnal\u00adly ill. Their friend\u2019s days being num\u00adbered, Ary and Philippe want to offer him one last love sto\u00adry\u2026 because, as G\u00e9rard likes to say : love is bet\u00adter than life.",
            "popularity": 2.676,
            "poster_path": "/rGXJ5noVrm8RPGQDMyTO5iYSzMQ.jpg",
            "release_date": "2022-01-19",
            "title": "Love Is Better Than Life",
            "video": false,
            "vote_average": 5.219,
            "vote_count": 17
        },
        {
            "adult": false,
            "backdrop_path": null,
            "genre_ids": [
                18
            ],
            "id": 945021,
            "original_language": "ko",
            "original_title": "\ubc1d\uc544\uac00\ub294 \uc778\uc0dd",
            "overview": "",
            "popularity": 0.6,
            "poster_path": null,
            "release_date": "1933-01-01",
            "title": "Getting Better Life",
            "video": false,
            "vote_average": 0.0,
            "vote_count": 0
        }
    ],
    "total_pages": 1,
    "total_results": 13
}

In [15]:
# Test an OMDB API call based on an index of the movie list and printing the json response
url = "http://www.omdbapi.com/?t="
api_key_url = "&apikey=" + omdb_api_key
movie_name=movie_list["Title"][250]
response = requests.get(url + movie_name + api_key_url).json()
print(json.dumps(response, indent=4, sort_keys=True))

{
    "Actors": "Michael Caine, Brendan Fraser, Do Thi Hai Yen",
    "Awards": "Nominated for 1 Oscar. 13 wins & 14 nominations total",
    "BoxOffice": "$12,988,801",
    "Country": "United Kingdom, Germany, United States, Vietnam, Australia, France, Canada, New Zealand",
    "DVD": "08 Oct 2016",
    "Director": "Phillip Noyce",
    "Genre": "Drama, Romance, Thriller",
    "Language": "English, French, Vietnamese",
    "Metascore": "84",
    "Plot": "An old British reporter vies with a young U.S. doctor for the affections of a beautiful Vietnamese woman.",
    "Poster": "https://m.media-amazon.com/images/M/MV5BNzk0ZjMwOTQtYzAwYS00MmY3LTg1MDAtYzAzMWM5ZjUxMGQyXkEyXkFqcGdeQXVyNjk1Njg5NTA@._V1_SX300.jpg",
    "Production": "N/A",
    "Rated": "R",
    "Ratings": [
        {
            "Source": "Internet Movie Database",
            "Value": "7.0/10"
        },
        {
            "Source": "Rotten Tomatoes",
            "Value": "87%"
        },
        {
            "Source": "Metacritic",
            "Value": "84/100"
        }
    ],
    "Released": "07 Mar 2003",
    "Response": "True",
    "Runtime": "101 min",
    "Title": "The Quiet American",
    "Type": "movie",
    "Website": "N/A",
    "Writer": "Graham Greene, Christopher Hampton, Robert Schenkkan",
    "Year": "2002",
    "imdbID": "tt0258068",
    "imdbRating": "7.0",
    "imdbVotes": "29,345"
}

In [16]:
# Loop through the CSV's Title column to call said movie from the TMDB API
# Create an empty list to store unfound movies in the TMDB database into
unfound_movies = []
for index, row in movie_list.iterrows():
    movie=movie_list['Title'][index]
    base_url="https://api.themoviedb.org/3/search/movie?"
    build_url = f'{base_url}query={movie}&api_key={tmdb_api_key}'
    response=requests.get(build_url).json()
    #print(response.url)

    try:
        movie_list.loc[index, "id"] = response['results'][0]['id']
    except (KeyError, IndexError):
        # If no movie name is found, set the movie id as NaN .
        movie_list.loc[index, "id"] = np.nan
        unfound_movies.append(movie_list.loc[index, "Title"])

# View the movies not found in the database
unfound_movies

['#Pellichoopulu']

In [17]:
# Cleaning: drop any NaN rows
movie_list.dropna(how='any',inplace=True)
# Reset the index to not run into any index errors while looping later in the cleaning
movie_list.reset_index(inplace=True)
#Re-check size of Data Frame
movie_list.shape

(999, 3)

In [18]:
#Add new columns to the DataFrame to be populated with the next TMDB API calls
movie_list[['imdb_id',
            'budget',
            'genres',
            'revenue',
            'runtime',
            'popularity',
            'release_date',
            'production_countries'
            ,'tmdb_rating']] =''
movie_list

,index,Title,id,imdb_id,budget,genres,revenue,runtime,popularity,release_date,production_countries,tmdb_rating
0,0,Home Alone 2: Lost in New York,772,,,,,,,,,
1,1,Orca: The Killer Whale,12707,,,,,,,,,
2,2,Martin Lawrence Live: Runteldat,20337,,,,,,,,,
3,3,Daredevil,9480,,,,,,,,,
4,4,L'avenir,374465,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...
994,995,Race,323677,,,,,,,,,
995,996,Hostel,1690,,,,,,,,,
996,997,The Wizard,183,,,,,,,,,
997,998,Maniac,103620,,,,,,,,,
998,999,Der rote Baron,8349,,,,,,,,,

In [19]:
# Loop through each movie's title for the TMDB API call and store the data we want to analyze into our DataFrame

for index, row in movie_list.iterrows():
# Create empty lists to store multiple-value columns' data into 
    genres = []
    production_countries = []
    try:
        movie_id=movie_list['id'][index]
        base_url_ById = "https://api.themoviedb.org/3/movie/"
        build_url_ById=f"{base_url_ById}{movie_id}?api_key={tmdb_api_key}"
        url_byid_response=requests.get(build_url_ById).json()
        movie_list.loc[index, "imdb_id"] = url_byid_response['imdb_id']
        movie_list.loc[index, "release_date"] = url_byid_response['release_date']
        movie_list.loc[index, "revenue"] = url_byid_response['revenue']
        movie_list.loc[index, "runtime"]= url_byid_response['runtime']
        movie_list.loc[index, "Title"]= url_byid_response['title']

        
        
        #extracting genre names from list
        for i in range(0,len(url_byid_response['genres'])):
            current_genre = url_byid_response['genres'][i]['name']
            genres.append(current_genre)
            

        #extracting production_countries names from list
        for i in range(0,len(url_byid_response['production_countries'])):
            current_prod_country = url_byid_response['production_countries'][i]['name']
            production_countries.append(current_prod_country)

        movie_list.loc[index, "popularity"] = url_byid_response['popularity']
        movie_list.loc[index, "budget"] = url_byid_response['budget']
        movie_list.loc[index, "tmdb_rating"] = url_byid_response['vote_average']
        movie_list.loc[index, "genres"] = ", ".join(genres)
        movie_list.loc[index, "production_countries"] = ", ".join(production_countries)
    except (KeyError, IndexError):
        # If no movie name is found, set the movie id as NaN .
        movie_list.loc[index, "imdb_id"] = np.nan
        movie_list.loc[index, "release_date"] = np.nan
        movie_list.loc[index, "revenue"] = np.nan
        movie_list.loc[index, "runtime"]= np.nan
        movie_list.loc[index, "popularity"] = np.nan
        movie_list.loc[index, "budget"] = np.nan
        movie_list.loc[index, "tmdb_rating"] = np.nan
        movie_list.loc[index, "production_countries"] = np.nan
        movie_list.loc[index, "genres"] = np.nan

In [20]:
# Make calls to the OMDB API to populate new rows with imdb ratings and their vote counts

for index, row in movie_list.iterrows():
    try:
        imdb_id=movie_list["imdb_id"][index]
        base_url_ById = "http://www.omdbapi.com/?i="
        build_url_ById=f"{base_url_ById}{imdb_id}&apikey={omdb_api_key}"
        url_byid_response=requests.get(build_url_ById).json()
        rating_url = url_byid_response['imdbRating']
        movie_list.loc[index, "imdb_rating"] = rating_url
        votes_url = url_byid_response['imdbVotes']
        movie_list.loc[index, "imdb_votes"] = votes_url
    except:
        movie_list.loc[index, "imdb_rating"] = np.nan
        movie_list.loc[index, "imdb_votes"] = np.nan
movie_list

,index,Title,id,imdb_id,budget,genres,revenue,runtime,popularity,release_date,production_countries,tmdb_rating,imdb_rating,imdb_votes
0,0,Home Alone 2: Lost in New York,772,tt0104431,18000000,"Comedy, Family, Adventure",358994850,120,50.494,1992-11-19,United States of America,6.709,6.8,"381,425"
1,1,Orca,12707,tt0076504,17500000,"Adventure, Horror, Thriller",14717854,95,14.683,1977-07-22,United States of America,6.132,5.7,"12,922"
2,2,Martin Lawrence Live: Runteldat,20337,tt0327036,3000000,Comedy,19184015,113,2.248,2002-08-01,United States of America,5.1,5.4,"1,772"
3,3,Daredevil,9480,tt0287978,78000000,"Fantasy, Action",179179718,103,24.325,2003-02-14,United States of America,5.251,5.3,"226,123"
4,4,Things to Come,374465,tt4120176,2100000,Drama,282382,102,7.672,2016-04-06,"Germany, France",6.6,6.9,"14,456"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,995,Race,323677,tt3499096,5000000,"Drama, History",24804129,134,14.754,2016-02-19,"Canada, Germany",7.257,7.1,"39,919"
995,996,Hostel,1690,tt0450278,4800000,Horror,81979826,94,21.954,2006-01-06,"United States of America, Czech Republic",5.929,5.9,"187,504"
996,997,The Wizard,183,tt0098663,6000000,"Adventure, Comedy, Drama, Family",14278900,100,9.758,1989-12-15,United States of America,5.986,6.1,"16,230"
997,998,Maniac,103620,tt2103217,6000000,"Horror, Thriller",31081,89,12.288,2012-12-26,France,6.043,6.1,"39,565"
998,999,The Red Baron,8349,tt0365675,18000000,"Action, Adventure, Drama, History, War",2783332,120,10.807,2008-03-29,"Germany, United Kingdom",6.641,6.3,"12,925"

In [21]:
print(movie_list.shape)
movie_list.head()

(999, 14)

,index,Title,id,imdb_id,budget,genres,revenue,runtime,popularity,release_date,production_countries,tmdb_rating,imdb_rating,imdb_votes
0,0,Home Alone 2: Lost in New York,772,tt0104431,18000000,"Comedy, Family, Adventure",358994850,120,50.494,1992-11-19,United States of America,6.709,6.8,"381,425"
1,1,Orca,12707,tt0076504,17500000,"Adventure, Horror, Thriller",14717854,95,14.683,1977-07-22,United States of America,6.132,5.7,"12,922"
2,2,Martin Lawrence Live: Runteldat,20337,tt0327036,3000000,Comedy,19184015,113,2.248,2002-08-01,United States of America,5.1,5.4,"1,772"
3,3,Daredevil,9480,tt0287978,78000000,"Fantasy, Action",179179718,103,24.325,2003-02-14,United States of America,5.251,5.3,"226,123"
4,4,Things to Come,374465,tt4120176,2100000,Drama,282382,102,7.672,2016-04-06,"Germany, France",6.6,6.9,"14,456"

In [22]:
# Create a new "Year" column from the "release date" by making a new df converting to datetime

movie_list["release_date"] = pd.to_datetime(movie_list["release_date"])
movie_list["Year"] = movie_list["release_date"].dt.year

for i in range(len(movie_list["Year"])):
    if movie_list.loc[i, "Year"]*0 != 0:
        movie_list.loc[i, "Year"] = np.nan
        print(f"NaN value found at index: {i}")
#         print(movie_list.loc[i, "Year"])

movie_list["Year"] = movie_list["Year"].astype(int)
# for index, row in movie_list.iterrows():
#     try:
#         movie_list.loc[index, "Year"] = movie_list.loc[index, "release_date"].dt.year
#         movie_list.loc[index, "Year"] = movie_list.loc[index, "Year"].astype(int)
#     except:
#         movie_list.loc[index, "Year"] = movie_list.loc[index, "Year"] = np.nan
movie_list["Year"].dropna()

0      1992
1      1977
2      2002
3      2003
4      2016
       ...
994    2016
995    2006
996    1989
997    2012
998    2008
Name: Year, Length: 999, dtype: int64

In [40]:
movie_list["tmdb_rating"] = pd.to_numeric(movie_list["tmdb_rating"], errors='coerce')
movie_list["imdb_rating"] = pd.to_numeric(movie_list["imdb_rating"], errors='coerce')
movie_list["imdb_votes"] = pd.to_numeric(movie_list["imdb_votes"], errors='coerce')
movie_list["imdb_votes"].dtype

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [39]:
movie_list["imdb_votes"].unique()

array([ nan,  13.,  42., 226.,  15., 350., 243., 195., 772., 890., 412.,
       273., 684., 336., 396., 535.,  23., 474., 482., 642., 109., 172.,
       166., 314., 536.])

In [36]:
# Do more cleaning of the data by looping through numeric columns and replacing any non-numeric values with NaN
# Then, drop those NaN rows

# Correct particular numeric columns to be the proper data type
movie_list["tmdb_rating"] = pd.to_numeric(movie_list["tmdb_rating"], errors='coerce')
movie_list["imdb_rating"] = pd.to_numeric(movie_list["imdb_rating"], errors='coerce')
movie_list["imdb_votes"] = pd.to_numeric(movie_list["imdb_votes"], errors='coerce')


for i in range(len(movie_list["Title"])):
    if movie_list.loc[i, "runtime"]*0 != 0:
        movie_list.loc[i, "runtime"] = np.nan
        print(f"NaN value found in the runtime column at index: {i}")
#         print(movie_list.loc[i, "runtime"])
    if movie_list.loc[i, "budget"]*0 != 0:
        movie_list.loc[i, "budget"] = np.nan
        print(f"NaN value found in the budget column at index: {i}")
#         print(movie_list.loc[i, "budget"])
    if movie_list.loc[i, "revenue"]*0 != 0:
        movie_list.loc[i, "revenue"] = np.nan
        print(f"NaN value found in the revenue column at index: {i}")
#         print(movie_list.loc[i, "revenue"])
    if movie_list.loc[i, "tmdb_rating"]*0 != 0:
        movie_list.loc[i, "tmdb_rating"] = np.nan
        print(f"NaN value found in the tmdb_rating column at index: {i}")
        print(movie_list.loc[i, "tmdb_rating"])
    if movie_list.loc[i, "imdb_rating"]*0 != 0:
        movie_list.loc[i, "imdb_rating"] = np.nan
        print(f"NaN value found in the imdb_rating column at index: {i}")
    if str_value.isdigit():
        int_value = int(str_value)
    else:
        print(f"NaN value found in the imdb_votes column at index: {i}")
#         print(movie_list.loc[i, "imdb_rating"])
#     if movie_list.loc[i, "imdb_votes"]*0 != 0:
#         movie_list.loc[i, "imdb_votes"] = np.nan
#         print(f"NaN value found in the imdb_votes column at index: {i}")
#         print(movie_list.loc[i, "imdb_votes"])



# movie_list.dropna(how='any',inplace=True)
# Reset the index to not run into any index errors while looping later in the cleaning
# movie_list.reset_index(inplace=True)

NaN value found in the imdb_votes column at index: 0
NaN value found in the imdb_votes column at index: 1
NaN value found in the imdb_votes column at index: 2
NaN value found in the imdb_votes column at index: 3
NaN value found in the imdb_votes column at index: 4
NaN value found in the imdb_votes column at index: 5
NaN value found in the imdb_votes column at index: 6
NaN value found in the imdb_votes column at index: 7
NaN value found in the imdb_votes column at index: 8
NaN value found in the imdb_votes column at index: 9
NaN value found in the imdb_votes column at index: 10
NaN value found in the imdb_votes column at index: 11
NaN value found in the imdb_votes column at index: 12
NaN value found in the imdb_votes column at index: 13
NaN value found in the imdb_votes column at index: 14
NaN value found in the imdb_votes column at index: 15
NaN value found in the imdb_votes column at index: 16
NaN value found in the imdb_votes column at index: 17
NaN value found in the imdb_votes column at index: 18
NaN value found in the imdb_votes column at index: 19
NaN value found in the imdb_votes column at index: 20
NaN value found in the imdb_votes column at index: 21
NaN value found in the imdb_votes column at index: 22
NaN value found in the imdb_votes column at index: 23
NaN value found in the imdb_votes column at index: 24
NaN value found in the imdb_votes column at index: 25
NaN value found in the imdb_votes column at index: 26
NaN value found in the imdb_votes column at index: 27
NaN value found in the imdb_votes column at index: 28
NaN value found in the imdb_votes column at index: 29
NaN value found in the imdb_votes column at index: 30
NaN value found in the imdb_votes column at index: 31
NaN value found in the imdb_votes column at index: 32
NaN value found in the imdb_votes column at index: 33
NaN value found in the imdb_votes column at index: 34
NaN value found in the imdb_votes column at index: 35
NaN value found in the imdb_votes column at index: 36
NaN value found in the imdb_votes column at index: 37
NaN value found in the imdb_votes column at index: 38
NaN value found in the imdb_votes column at index: 40
NaN value found in the imdb_votes column at index: 41
NaN value found in the imdb_votes column at index: 42
NaN value found in the imdb_votes column at index: 43
NaN value found in the imdb_votes column at index: 44
NaN value found in the imdb_votes column at index: 45
NaN value found in the imdb_votes column at index: 46
NaN value found in the imdb_votes column at index: 47
NaN value found in the imdb_votes column at index: 48
NaN value found in the imdb_votes column at index: 49
NaN value found in the imdb_votes column at index: 50
NaN value found in the imdb_votes column at index: 51
NaN value found in the imdb_votes column at index: 52
NaN value found in the imdb_votes column at index: 53
NaN value found in the imdb_votes column at index: 54
NaN value found in the imdb_votes column at index: 55
NaN value found in the imdb_votes column at index: 56
NaN value found in the imdb_votes column at index: 57
NaN value found in the imdb_votes column at index: 58
NaN value found in the imdb_votes column at index: 59
NaN value found in the imdb_votes column at index: 60
NaN value found in the imdb_votes column at index: 61
NaN value found in the imdb_votes column at index: 62
NaN value found in the imdb_votes column at index: 63
NaN value found in the imdb_votes column at index: 64
NaN value found in the imdb_votes column at index: 65
NaN value found in the imdb_votes column at index: 66
NaN value found in the imdb_votes column at index: 67
NaN value found in the imdb_votes column at index: 68
NaN value found in the imdb_votes column at index: 69
NaN value found in the imdb_votes column at index: 70
NaN value found in the imdb_votes column at index: 71
NaN value found in the imdb_votes column at index: 72
NaN value found in the imdb_votes column at index: 73
NaN value found in the imdb_votes column at index: 74
NaN value found in the imdb_votes column at index: 75
NaN value found in the imdb_votes column at index: 76
NaN value found in the imdb_votes column at index: 77
NaN value found in the imdb_votes column at index: 78
NaN value found in the imdb_votes column at index: 79
NaN value found in the imdb_votes column at index: 80
NaN value found in the imdb_votes column at index: 81
NaN value found in the imdb_votes column at index: 82
NaN value found in the imdb_votes column at index: 83
NaN value found in the imdb_votes column at index: 84
NaN value found in the imdb_votes column at index: 85
NaN value found in the imdb_rating column at index: 86
NaN value found in the imdb_votes column at index: 87
NaN value found in the imdb_votes column at index: 88
NaN value found in the imdb_votes column at index: 89
NaN value found in the imdb_votes column at index: 90
NaN value found in the imdb_votes column at index: 91
NaN value found in the imdb_votes column at index: 92
NaN value found in the imdb_votes column at index: 93
NaN value found in the imdb_votes column at index: 94
NaN value found in the imdb_votes column at index: 95
NaN value found in the imdb_votes column at index: 96
NaN value found in the imdb_votes column at index: 97
NaN value found in the imdb_votes column at index: 98
NaN value found in the imdb_votes column at index: 99
NaN value found in the imdb_votes column at index: 100
NaN value found in the imdb_votes column at index: 101
NaN value found in the imdb_votes column at index: 102
NaN value found in the imdb_votes column at index: 103
NaN value found in the imdb_votes column at index: 104
NaN value found in the imdb_votes column at index: 105
NaN value found in the imdb_votes column at index: 106
NaN value found in the imdb_votes column at index: 107
NaN value found in the imdb_votes column at index: 108
NaN value found in the imdb_votes column at index: 109
NaN value found in the imdb_votes column at index: 110
NaN value found in the imdb_votes column at index: 111
NaN value found in the imdb_votes column at index: 112
NaN value found in the imdb_votes column at index: 113
NaN value found in the imdb_votes column at index: 114
NaN value found in the imdb_votes column at index: 115
NaN value found in the imdb_votes column at index: 116
NaN value found in the imdb_votes column at index: 117
NaN value found in the imdb_votes column at index: 118
NaN value found in the imdb_votes column at index: 119
NaN value found in the imdb_votes column at index: 120
NaN value found in the imdb_votes column at index: 121
NaN value found in the imdb_votes column at index: 122
NaN value found in the imdb_votes column at index: 123
NaN value found in the imdb_votes column at index: 124
NaN value found in the imdb_votes column at index: 125
NaN value found in the imdb_votes column at index: 126
NaN value found in the imdb_votes column at index: 127
NaN value found in the imdb_votes column at index: 128
NaN value found in the imdb_votes column at index: 129
NaN value found in the imdb_votes column at index: 130
NaN value found in the imdb_votes column at index: 131
NaN value found in the imdb_votes column at index: 132
NaN value found in the imdb_votes column at index: 133
NaN value found in the imdb_votes column at index: 134
NaN value found in the imdb_votes column at index: 135
NaN value found in the imdb_votes column at index: 136
NaN value found in the imdb_votes column at index: 137
NaN value found in the imdb_votes column at index: 138
NaN value found in the imdb_votes column at index: 139
NaN value found in the imdb_votes column at index: 140
NaN value found in the imdb_votes column at index: 141
NaN value found in the imdb_votes column at index: 142
NaN value found in the imdb_votes column at index: 143
NaN value found in the imdb_votes column at index: 144
NaN value found in the imdb_votes column at index: 145
NaN value found in the imdb_votes column at index: 146
NaN value found in the imdb_votes column at index: 147
NaN value found in the imdb_votes column at index: 148
NaN value found in the imdb_votes column at index: 149
NaN value found in the imdb_votes column at index: 150
NaN value found in the imdb_votes column at index: 151
NaN value found in the imdb_votes column at index: 152
NaN value found in the imdb_votes column at index: 153
NaN value found in the imdb_votes column at index: 154
NaN value found in the imdb_votes column at index: 155
NaN value found in the imdb_votes column at index: 156
NaN value found in the imdb_votes column at index: 157
NaN value found in the imdb_votes column at index: 158
NaN value found in the imdb_votes column at index: 159
NaN value found in the imdb_votes column at index: 160
NaN value found in the imdb_votes column at index: 161
NaN value found in the imdb_votes column at index: 162
NaN value found in the imdb_votes column at index: 163
NaN value found in the imdb_votes column at index: 164
NaN value found in the imdb_votes column at index: 165
NaN value found in the imdb_votes column at index: 166
NaN value found in the imdb_votes column at index: 168
NaN value found in the imdb_votes column at index: 169
NaN value found in the imdb_votes column at index: 170
NaN value found in the imdb_votes column at index: 171
NaN value found in the imdb_votes column at index: 172
NaN value found in the imdb_votes column at index: 173
NaN value found in the imdb_votes column at index: 174
NaN value found in the imdb_votes column at index: 175
NaN value found in the imdb_votes column at index: 176
NaN value found in the imdb_votes column at index: 177
NaN value found in the imdb_votes column at index: 178
NaN value found in the imdb_votes column at index: 179
NaN value found in the imdb_votes column at index: 180
NaN value found in the imdb_votes column at index: 182
NaN value found in the imdb_votes column at index: 183
NaN value found in the imdb_votes column at index: 184
NaN value found in the imdb_votes column at index: 185
NaN value found in the imdb_votes column at index: 186
NaN value found in the imdb_votes column at index: 187
NaN value found in the imdb_votes column at index: 188
NaN value found in the imdb_votes column at index: 189
NaN value found in the imdb_votes column at index: 190
NaN value found in the imdb_votes column at index: 191
NaN value found in the imdb_votes column at index: 192
NaN value found in the imdb_votes column at index: 193
NaN value found in the imdb_votes column at index: 194
NaN value found in the imdb_votes column at index: 195
NaN value found in the imdb_votes column at index: 196
NaN value found in the imdb_votes column at index: 197
NaN value found in the imdb_votes column at index: 198
NaN value found in the imdb_votes column at index: 199
NaN value found in the imdb_votes column at index: 200
NaN value found in the imdb_votes column at index: 201
NaN value found in the imdb_votes column at index: 202
NaN value found in the imdb_votes column at index: 203
NaN value found in the imdb_votes column at index: 204
NaN value found in the imdb_votes column at index: 205
NaN value found in the imdb_votes column at index: 206
NaN value found in the imdb_votes column at index: 207
NaN value found in the imdb_votes column at index: 208
NaN value found in the imdb_votes column at index: 209
NaN value found in the imdb_votes column at index: 210
NaN value found in the imdb_votes column at index: 211
NaN value found in the imdb_votes column at index: 212
NaN value found in the imdb_votes column at index: 213
NaN value found in the imdb_votes column at index: 214
NaN value found in the imdb_votes column at index: 215
NaN value found in the imdb_votes column at index: 216
NaN value found in the imdb_votes column at index: 217
NaN value found in the imdb_votes column at index: 218
NaN value found in the imdb_votes column at index: 219
NaN value found in the imdb_votes column at index: 220
NaN value found in the imdb_votes column at index: 221
NaN value found in the imdb_votes column at index: 222
NaN value found in the imdb_votes column at index: 223
NaN value found in the imdb_votes column at index: 224
NaN value found in the imdb_votes column at index: 225
NaN value found in the imdb_votes column at index: 226
NaN value found in the imdb_votes column at index: 227
NaN value found in the imdb_votes column at index: 228
NaN value found in the imdb_votes column at index: 229
NaN value found in the imdb_votes column at index: 230
NaN value found in the imdb_votes column at index: 231
NaN value found in the imdb_votes column at index: 233
NaN value found in the imdb_votes column at index: 234
NaN value found in the imdb_votes column at index: 235
NaN value found in the imdb_votes column at index: 236
NaN value found in the imdb_votes column at index: 237
NaN value found in the imdb_votes column at index: 238
NaN value found in the imdb_votes column at index: 239
NaN value found in the imdb_votes column at index: 240
NaN value found in the imdb_votes column at index: 241
NaN value found in the imdb_votes column at index: 243
NaN value found in the imdb_votes column at index: 244
NaN value found in the imdb_votes column at index: 245
NaN value found in the imdb_votes column at index: 246
NaN value found in the imdb_votes column at index: 247
NaN value found in the imdb_votes column at index: 248
NaN value found in the imdb_votes column at index: 249
NaN value found in the imdb_votes column at index: 250
NaN value found in the imdb_votes column at index: 251
NaN value found in the imdb_votes column at index: 252
NaN value found in the imdb_votes column at index: 253
NaN value found in the imdb_votes column at index: 254
NaN value found in the imdb_votes column at index: 255
NaN value found in the imdb_votes column at index: 256
NaN value found in the imdb_votes column at index: 257
NaN value found in the imdb_votes column at index: 258
NaN value found in the imdb_votes column at index: 259
NaN value found in the imdb_votes column at index: 260
NaN value found in the imdb_votes column at index: 261
NaN value found in the imdb_votes column at index: 262
NaN value found in the imdb_votes column at index: 263
NaN value found in the imdb_votes column at index: 264
NaN value found in the imdb_votes column at index: 265
NaN value found in the imdb_votes column at index: 266
NaN value found in the imdb_votes column at index: 267
NaN value found in the imdb_votes column at index: 268
NaN value found in the imdb_votes column at index: 269
NaN value found in the imdb_votes column at index: 270
NaN value found in the imdb_votes column at index: 271
NaN value found in the imdb_votes column at index: 272
NaN value found in the imdb_votes column at index: 273
NaN value found in the imdb_votes column at index: 274
NaN value found in the imdb_votes column at index: 275
NaN value found in the imdb_votes column at index: 276
NaN value found in the imdb_votes column at index: 277
NaN value found in the imdb_votes column at index: 278
NaN value found in the imdb_votes column at index: 279
NaN value found in the imdb_votes column at index: 280
NaN value found in the imdb_votes column at index: 281
NaN value found in the imdb_votes column at index: 282
NaN value found in the imdb_votes column at index: 283
NaN value found in the imdb_votes column at index: 284
NaN value found in the imdb_votes column at index: 285
NaN value found in the imdb_votes column at index: 286
NaN value found in the imdb_votes column at index: 287
NaN value found in the imdb_votes column at index: 288
NaN value found in the imdb_votes column at index: 289
NaN value found in the imdb_votes column at index: 290
NaN value found in the imdb_votes column at index: 291
NaN value found in the imdb_votes column at index: 292
NaN value found in the imdb_votes column at index: 293
NaN value found in the imdb_votes column at index: 294
NaN value found in the imdb_votes column at index: 295
NaN value found in the imdb_votes column at index: 296
NaN value found in the imdb_votes column at index: 297
NaN value found in the imdb_votes column at index: 298
NaN value found in the imdb_votes column at index: 299
NaN value found in the imdb_votes column at index: 300
NaN value found in the imdb_votes column at index: 301
NaN value found in the imdb_votes column at index: 302
NaN value found in the imdb_votes column at index: 303
NaN value found in the imdb_votes column at index: 304
NaN value found in the imdb_votes column at index: 305
NaN value found in the imdb_votes column at index: 306
NaN value found in the imdb_votes column at index: 307
NaN value found in the imdb_votes column at index: 308
NaN value found in the imdb_votes column at index: 309
NaN value found in the imdb_votes column at index: 310
NaN value found in the imdb_votes column at index: 311
NaN value found in the imdb_votes column at index: 312
NaN value found in the imdb_votes column at index: 313
NaN value found in the imdb_votes column at index: 314
NaN value found in the imdb_votes column at index: 315
NaN value found in the imdb_votes column at index: 316
NaN value found in the imdb_votes column at index: 317
NaN value found in the imdb_votes column at index: 318
NaN value found in the imdb_votes column at index: 319
NaN value found in the imdb_votes column at index: 320
NaN value found in the imdb_votes column at index: 321
NaN value found in the imdb_votes column at index: 322
NaN value found in the imdb_votes column at index: 323
NaN value found in the imdb_votes column at index: 324
NaN value found in the imdb_votes column at index: 325
NaN value found in the imdb_votes column at index: 326
NaN value found in the imdb_votes column at index: 327
NaN value found in the imdb_votes column at index: 328
NaN value found in the imdb_votes column at index: 329
NaN value found in the imdb_votes column at index: 330
NaN value found in the imdb_votes column at index: 331
NaN value found in the imdb_votes column at index: 332
NaN value found in the imdb_votes column at index: 333
NaN value found in the imdb_votes column at index: 334
NaN value found in the imdb_votes column at index: 335
NaN value found in the imdb_votes column at index: 336
NaN value found in the imdb_votes column at index: 337
NaN value found in the imdb_votes column at index: 338
NaN value found in the imdb_votes column at index: 339
NaN value found in the imdb_votes column at index: 340
NaN value found in the imdb_votes column at index: 341
NaN value found in the imdb_votes column at index: 342
NaN value found in the imdb_votes column at index: 343
NaN value found in the imdb_votes column at index: 344
NaN value found in the imdb_votes column at index: 345
NaN value found in the imdb_votes column at index: 346
NaN value found in the imdb_votes column at index: 347
NaN value found in the imdb_votes column at index: 348
NaN value found in the imdb_votes column at index: 349
NaN value found in the imdb_votes column at index: 350
NaN value found in the imdb_votes column at index: 351
NaN value found in the imdb_votes column at index: 352
NaN value found in the imdb_votes column at index: 353
NaN value found in the imdb_votes column at index: 354
NaN value found in the imdb_votes column at index: 355
NaN value found in the imdb_votes column at index: 356
NaN value found in the imdb_votes column at index: 357
NaN value found in the imdb_votes column at index: 358
NaN value found in the imdb_votes column at index: 359
NaN value found in the imdb_votes column at index: 360
NaN value found in the imdb_votes column at index: 361
NaN value found in the imdb_votes column at index: 362
NaN value found in the imdb_votes column at index: 363
NaN value found in the imdb_votes column at index: 364
NaN value found in the imdb_votes column at index: 365
NaN value found in the imdb_votes column at index: 366
NaN value found in the imdb_votes column at index: 367
NaN value found in the imdb_votes column at index: 368
NaN value found in the imdb_votes column at index: 369

In [ ]:
movie_list["runtime"].unique

In [ ]:
# Drop the old release date column and reorder the current DataFrame to be nicer
movie_list=movie_list[["Title", "Year", "id", "imdb_id", "genres", "runtime", "budget", "revenue", "production_countries",
           "popularity", "tmdb_rating", "imdb_rating", "imdb_votes"]]
movie_list

In [ ]:
# Check the DataFrame's budget and revenue values to see how many entries don't have said data
print("Budget value counts:")
print(movie_list["budget"].value_counts())
print("---------------------------------------")
print("Revenue value counts:")
print(movie_list["revenue"].value_counts())

In [ ]:
# View if a movie had 0 budget or not (true/false)
no_budget = movie_list["budget"]==0
# null_imdb_id = movie_list.loc[movie_list]
no_budget

In [ ]:
# Create a DataFrame from the last block's result
no_budget_df = movie_list[no_budget]
# Remove rows with zero budget values
movie_list=movie_list[~no_budget]
movie_list

In [ ]:
# View if a movie had 0 revenue or not (true/false)
no_revenue = movie_list["revenue"]==0
# null_imdb_id = movie_list.loc[movie_list]
no_revenue

In [ ]:
# Removing rows with zero revenue movies
movie_list=movie_list[~no_revenue]
movie_list

In [ ]:
# Check if there are any 0 values remaining for either budget or revenue in the DataFrame
print(f"Budget check: ")
print(movie_list["budget"].min())
print(f"Revenue check: ")
print(movie_list["revenue"].min())

In [ ]:
# # Dummy test on adjusting for inflation over the years using the cpi library
# budget_past = 438656843
# budget_year = 1991
# budget_2023 = cpi.inflate(budget_past, budget_year)
# round(budget_2023, 2)

In [ ]:
# Create new columns in the DataFrame for inflation-adjusted budget and revenue
movie_list['infl_adj_budget'] = ''
movie_list['infl_adj_revenue'] = ''
movie_list

In [ ]:
# POSSIBLE TEMPORARY CODE 
# DROP ANY 2023 DATES TO FIX CPI FUNCTION
print("True = number of films from 2023")
find23 = movie_list["Year"]==2023
find23.value_counts()

In [ ]:
# Create a dataframe to hold onto the 2023 films to concatenate after inflation calculation
hold23 = movie_list[find23]
hold23

In [ ]:
hold23['infl_adj_budget'] = hold23['budget'].astype(int)
hold23['infl_adj_revenue'] = hold23['revenue'].astype(float)
hold23

In [ ]:
# Drop all rows with the year 2023 from the movie list
movie_list = movie_list[movie_list["Year"]<2023]
print(movie_list.shape)
movie_list.head()

In [ ]:
# POSSIBLE TEMPORARY CODE 
# NEW CODE FROM CARTER: I THINK WE (AGAIN) NEED TO RESET OUR INDEX AFTER DROPPING OUR NAN ROWS 
# AND MISSING BUDGET/REVENUE ROWS
# movie_list.reset_index(inplace=True, drop=True)

In [ ]:
# # Defining a function to calculate a running inflation adjusted value for a column in a dataframe
def inflate_column(data, column):
    #     Adjust for inflation the series of values in column of the dataframe data
    return data.apply(lambda x: cpi.inflate(x[column], x.Year), axis=1)

# adjust the production budget 
movie_list.loc[:,'budget'] = movie_list['budget'].astype(int)
movie_list.loc[:,'infl_adj_budget'] = inflate_column(movie_list, 'budget')
#adjust the worldwide gross profits
movie_list.loc[:,'infl_adj_revenue'] = inflate_column(movie_list, 'revenue').astype(float)

# calculate the real worldwide net profit
movie_list.loc[:,'real_profit'] = movie_list.apply(lambda x: x.infl_adj_revenue - x.infl_adj_budget, axis=1)
movie_list

In [ ]:
# Concatenate DataFrames horizontally (side by side)
movie_list = pd.concat([movie_list, hold23], axis=0)

In [ ]:
# Looking at a sampling of the dataframe
print(movie_list.shape)
movie_list.sample(5)

In [ ]:
# Do a final cleaning of the data by looping through numeric columns and replacing any non-numeric values with NaN
# Then, drop those NaN rows
for i in range(len(movie_list["Title"])):
    if movie_list.loc[i, "infl_adj_budget"]*0 != 0:
        movie_list.loc[i, "infl_adj_budget"] = np.nan
        print(f"NaN value found in the infl_adj_budget column at index: {i}")
        print(movie_list.loc[i, "infl_adj_budget"])
    if movie_list.loc[i, "infl_adj_revenue"]*0 != 0:
        movie_list.loc[i, "infl_adj_revenue"] = np.nan
        print(f"NaN value found in the infl_adj_revenue column at index: {i}")
        print(movie_list.loc[i, "infl_adj_revenue"])


movie_list.dropna(how='any',inplace=True)
# Reset the index to not run into any index errors while looping later in the cleaning
movie_list.reset_index(inplace=True)

# Movie Data Analysis

In [ ]:
# Define custom bin edges
bin_edges = [1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010, 2020, 2030]
labels =["1920s", "1930s", "1940s", "1950s", "1960s", "1970s", "1980s", "1990s", "2000s", "2010s", "2020s"]

# Cut the data into custom intervals
movie_list.loc[:,'Decades'] = pd.cut(movie_list['Year'], bins=bin_edges,labels=labels)
movie_list

In [ ]:
# Sorting movie_list df revenue column ascending=False
sorted_revenue_desc = movie_list.sort_values(by='infl_adj_revenue', ascending=False)
top_ten_df = sorted_revenue_desc.iloc[0:10, :] 
top_ten_df

In [ ]:
# Create a bar chart to display top 10 grossing movies

top_ten_df.plot("Title", "infl_adj_revenue", kind='bar', alpha=0.6, color='blue', title="Top 10 Grossing Movies (1922-2022)",
                xlabel="Movie Titles", ylabel="Movie Revenue", legend='')


# ax=top_ten_df.plot("Title", "revenue", kind='bar', alpha=0.6, color='blue', title="Top 10 Grossing Movies (1922-2022)",
#                 xlabel="Movie Titles", ylabel="Movie Revenue", legend='')
# ax.set_xticklabels(top_ten_df['Title'], rotation=45)
# plt.show()

In [ ]:
country_df = movie_list.copy(deep=True)
country_df[['country1', 'country2', 'country3', 'country4', 'country5', 'country6']] = country_df['production_countries'].str.split(', ', expand=True, n=5)
country_df.sample(10)

In [ ]:
country_df2 = country_df.sort_values(by='infl_adj_revenue', ascending=False)
country_df3 = country_df2.iloc[0:50, :]
country_df3

In [ ]:
countries = list(country_df3["country1"].unique())
countries

In [ ]:
# # MAP TIME
# # Import dependencies needed for world map visualizations
import matplotlib.pyplot as plt
import hvplot.pandas
import geoviews
import geopandas 

# Load the world map GeoDataFrame
world = geopandas.read_file(geopandas.datasets.get_path('naturalearth_lowres'))
# Filter the GeoDataFrame to select the list of top 10 grossing films' production countries

country_data = []
for i in range(len(countries)):
    country_data.append(world[world['name'] == countries[i]])

# Print the USA GeoDataFrame
print(country_data)

In [ ]:
# Create a base world map
world.plot(color='w', figsize=(30, 20), edgecolor='black', aspect="auto", linewidth=0.5)

# Extract the indices
indices = [index for index, word in indexed_list]

# Create a list of colors to be looped through when plotting the list of countries
colors = ['red', 'deepskyblue', 'green', 'yellow', 'purple', 'orange', 'pink', 'cyan', 'peachpuff', 'gold', 
          'firebrick', 'darkturquoise', 'blueviolet', 'maroon']

for i in range(len(country_data)):
    current_color = colors[i % len(colors)] 
    country_data[i].plot(color=current_color, alpha=1, aspect='1.25', ax=plt.gca())

plt.show()

In [ ]:
# # Create a base world map
# world.plot(color='w', figsize=(30, 20), edgecolor='black', aspect="auto", linewidth=0.5)

# # Assign ascending indices to the length of the list
# indexed_list = list(enumerate(countries))

# # Extract the indices
# indices = [index for index, word in indexed_list]

# # Plot the United States in a different color

# for i in range(len(country_data)):
#     for_alpha=(0.1*float(indices[i]))+0.2
#     country_data[i].plot(color='blue', alpha=for_alpha, aspect='1.25', ax=plt.gca())

# plt.show()

In [ ]:
# Create a bar chart based upon the above data
y_axis=movie_list.groupby('Decades').count()['Title']
y_axis.plot(kind='bar', alpha=0.6, color='blue', title="Number of Movies per decade", xlabel="Decades", ylabel="Number of Movies")

## Pie Chart

In [ ]:
# Minimum Budget
min_budget = movie_list['infl_adj_budget'].min()
# Average Budget
avg_budget = movie_list['infl_adj_budget'].mean()
# Maximum Budget
max_budget = movie_list['infl_adj_budget'].max()
diff = (max_budget-min_budget)/3
# Define the bins and labels
bins=[min_budget,round(min_budget+diff),round(min_budget+2*diff),round(min_budget+3*diff)]
labels = ['Low Budget', 'Average Budget', 'High Budget']
# Cut the 'Budget' column into categories and create a new column 'Budget_Category'
movie_list['Budget_Category'] = pd.cut(movie_list['infl_adj_budget'], bins=bins, labels=labels)
movie_list.sample(10)

In [ ]:
# Pie plot showing the distribution of Budget category using pyplot
budget_distribution = movie_list['Budget_Category'].value_counts().reset_index()
print(budget_distribution)
#create y label
y = [budget_distribution['count'][0],budget_distribution['count'][1],budget_distribution['count'][2]]
#Show Pie Plot
plt.pie(y,autopct='%1.1f%%',labels=['Low Budget','Average Budget','High Budget'])
plt.show()

In [ ]:
genre_df = movie_list.copy(deep=True)
# genre_df
genre_df[['primary_genre', 'sub_genre_1', 'sub_genre_2', 'sub_genre_3', 'sub_genre_4', 'sub_genre_5']] = genre_df['genres'].str.split(', ', expand=True, n=5)
genre_df

In [ ]:

# colors = plt.cm.Paired(range(len(primary_genre)))
primary_genre = genre_df['primary_genre'].value_counts()
primary_genre_length = len(primary_genre)

# Make blank list for explode values and loop through the primary genre length to append 0 after 0.1 accordingly
explode = []
for i in range(primary_genre_length):
    if i == 0:
        explode.append(0.1)
    else:
        explode.append(0)
print(f"Number of primary genres: {len(primary_genre)}")
primary_genre

In [ ]:
plt.figure(figsize=(12, 12))
categories = genre_df['primary_genre'].unique()
# This code would be to include 'exploding' the biggest value out but has an error when 'explode' list is not equal
# to length of primary genres
plt.pie(primary_genre, autopct= "%1.1f%%", shadow=True, startangle=140, pctdistance=1.2, explode=explode)
# plt.pie(primary_genre, autopct= "%1.1f%%", shadow=True, startangle=140, pctdistance=1.2)
plt.legend(categories, loc='best', bbox_to_anchor=(1, 1))
plt.title('Primary Genres')
plt.show()

## Bar Plot

In [ ]:
#Bar plot Budget Categories by Decades
grouped_df = movie_list.groupby(['Decades', 'Budget_Category'])['Title'].count().reset_index()
pivot_df=grouped_df.set_index(['Decades', 'Budget_Category'])
# Set the figure size
plt.figure(figsize=(10,2))  # Width, Height in inches
# Create a stacked bar plot
pivot_df.plot(kind='bar',width=1,color='orange', stacked=True)
# Add labels and a title
plt.xlabel('Decades')
plt.ylabel('Count')
plt.title('Bar Plot of Budget Categories by Decades')
plt.legend("Budget")
# Show the plot
plt.show()

## Histogram Plotting

In [ ]:
# Plot a histogram of budget
plt.hist(movie_list['infl_adj_budget'],bins=5, color='deepskyblue', edgecolor='k')
plt.xlabel('Budget')
plt.ylabel('Frequency')
plt.title('Histogram of Budget')

In [ ]:
# 
from scipy.stats import shapiro
DataToTest = movie_list['infl_adj_budget']
stat,p = shapiro(DataToTest)
print(f"stat: {stat},p: {p}")
if(p>0.05):
    print("Accept NULL Hypothesis :Budget data is not normally Distributed")
else:
    print("Reject NULL Hypothesis: Budget data is not normally Distributed")

## Scatter Plots with Linear Regression

In [ ]:
# CARTER NOTE: THIS BLOCK BELOW DID NOT SHOW OUR FIRST SCATTER PLOT WHEN RUN FOR ME
    # Looking over the code, could the error be in the "xvalues = xval" lines?

In [ ]:
# Creating a function for computing linear regression
def lin_regress(xval, yval, x_label, y_label): 
    x_values = xval
    y_values = yval
    
    (slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)
    regress_values = x_values * slope + intercept
    line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))
    plt.scatter(x_values,y_values, c='blueviolet')
    plt.xlabel(x_label)
    plt.ylabel(y_label)
    plt.plot(x_values,regress_values,"r-")
    plt.annotate(line_eq,(10,20),fontsize=15,color="red")
    plt.legend(['Regression Line: y = {:.2f}x + {:.2f}'.format(slope, intercept)])
    print("The r-value is: ",rvalue)
    plt.show()
#     x_values = 0
#     y_values = 0

In [ ]:
# Create a scatter plot for regression analysis

xval = movie_list['Year']
yval = movie_list['runtime'].astype(int)
x_label='Years'
y_label='Runtime(mins) of Movies'

lin_regress(xval, yval, x_label, y_label)

In [ ]:
# Create a scatter plot for regression analysis: Budget vs. tmdb

xval = movie_list['infl_adj_budget'].astype(int)
yval = movie_list['tmdb_rating'].astype(float)
x_label='Budget (adjusted for inflation)'
y_label='tmdb rating'

lin_regress(xval, yval, x_label, y_label)

In [ ]:
movie_list['imdb_rating'].unique()

In [ ]:
# Create a scatter plot for regression analysis: Budget vs. imbd Rating

xval = movie_list['infl_adj_budget'].astype(int)
yval = movie_list['imdb_rating'].astype(float)
x_label='Budget (adjusted for inflation)'
y_label='IMDb rating'

lin_regress(xval, yval, x_label, y_label)

In [ ]:
# Create a scatter plot for regression analysis: Revenue vs. imbd Rating

xval = movie_list['infl_adj_revenue'].astype(float)
yval = movie_list['imdb_rating'].astype(float)
x_label='Revenue (adjusted for inflation)'
y_label='imdb rating'

lin_regress(xval, yval, x_label, y_label)

In [ ]:
# Create a scatter plot for regression analysis: Revenue vs. Runtime

xval = movie_list['infl_adj_revenue'].astype(float)
yval = movie_list['runtime'].astype(int)
x_label='Revenue (adjusted for inflation)'
y_label='Runtime(mins)'

lin_regress(xval, yval, x_label, y_label)

# Data Testing

##

In [ ]:
#TEST NULL HYPOTHESIS(budget and revenue)
#H0: There is a significant association between budget and revenue of a movie.
#H1: There is no significant association between budget and revenue of a movie
from scipy.stats import chi2_contingency

# Create a contingency table
contingency_table = pd.crosstab(movie_list['infl_adj_budget'], movie_list['infl_adj_revenue'])

# Perform the chi-square test for independence
chi2, p, _, _ = chi2_contingency(contingency_table)

print("Chi-Square Statistic:", chi2)
print("P-value:", p)

alpha = 0.05  # Significance level

if p < alpha:
    print("Accept Null Hypothesis: There is a significant association between budget and revenue of a movie.")
else:
    print("Reject Null Hypothesis:There is no significant association between budget and revenue.")

In [ ]:
#Identifying Outliers in Movie Runtimes Over the Years
import seaborn as sns
ax = sns.boxplot(x='Decades',y='runtime',data=movie_list)

# Incorporating Oscar and Golden Globe Data

### Oscar dataset import and cleaning

In [ ]:
# Import the Oscar csv to analyze
oscar_list = pd.read_csv("the_oscar_award.csv")
print(oscar_list.shape)
oscar_list.head(2)

In [ ]:
# Check for NaN values in the film column of the Oscar List
oscar_list["film"].isnull().value_counts()

In [ ]:
# Drop the NaN values and the "False" winners to clean the data
oscar_list.dropna(how="any", inplace=True)
oscar_winners = oscar_list["winner"]==True

oscars = oscar_list[oscar_winners]
print(oscars.shape)
oscars

In [ ]:
# Count the number of wins each film has and turn that series into a DataFrame
oscar_wins = oscars[["film", "year_film"]].value_counts()
oscar_win_df = oscar_wins.reset_index()
oscar_win_df

In [ ]:
# Rename the columns of the DataFrame to cleanly merge with the movie data
oscar_win_df = oscar_win_df.rename(columns={'film': 'Title', 'year_film': 'Year', 'count': 'Oscar_Wins'})
oscar_win_df

### Golden Globe dataset import and cleaning

In [ ]:
# Import the golden globes csv to analyze
gglobe_list = pd.read_csv("golden_globe_awards.csv")
print(gglobe_list.shape)
gglobe_list.head()

# gglobe_list

In [ ]:
# Check for NaN values in the film column of the Golden Globe List
gglobe_list["film"].isnull().value_counts()

In [ ]:
# Drop the NaN values and the "False" winners to clean the data
# gglobe_list.dropna(how="any", inplace=True)
gglobe_winners = gglobe_list["win"]==True
# gglobe_winners
gglobes = gglobe_list[gglobe_winners]

# Update the 'film' column where it is NaN with values from the 'nominee' column
gglobes['film'] = gglobes['film'].fillna(gglobes['nominee'])
gglobes.sample(10)

# print(gglobes.shape)
# gglobes

In [ ]:
# # Drop the NaN values and the "False" winners to clean the data
# gglobe_list.dropna(how="any", inplace=True)
# gglobe_winners = gglobe_list["win"]==True
# gglobe_winners

# gglobes = gglobe_list[gglobe_winners]
# print(gglobes.shape)
# gglobes

In [ ]:
# Count the number of wins each film has and turn that series into a DataFrame
gglobe_count = gglobes[["film", "year_film"]].value_counts()
gglobe_win_df = gglobe_count.reset_index()
gglobe_win_df

In [ ]:
# Rename the columns of the DataFrame to cleanly merge with the movie data
gglobe_win_df = gglobe_win_df.rename(columns={'film': 'Title', 'year_film': 'Year', 'count': 'Golden_Globe_Wins'})
gglobe_win_df

## Merging the Oscars and Golden Globes DataFrames into the Movie List DataFrame

In [ ]:
# Referencing the movie_list for ease of coding
print(movie_list.shape)
movie_list.head(1)

In [ ]:
# Individually merge the Oscars and Golden Globes DataFrames into the master movie list
oscar_awards = pd.merge(movie_list, oscar_win_df, how="inner", on=["Title", "Year"])
print(oscar_awards.shape)
oscar_awards.head()

In [ ]:
gglobe_awards = pd.merge(movie_list, gglobe_win_df, how="inner", on=["Title", "Year"])
print(gglobe_awards.shape)
gglobe_awards.head()

In [ ]:
# Make a DataFrame merging Golden Globe Awards data onto the merged Oscar data to show only films with wins in both
both_awards = pd.merge(oscar_awards, gglobe_win_df, how="inner", on=["Title", "Year"])
print(both_awards.shape)
both_awards

In [ ]:
# Sum the Oscar and Golden Globe Award wins into a new column called cumulative awards
both_awards['Cumulative_Awards'] = ''
for index,row in both_awards.iterrows():
    both_awards.loc[index, "Cumulative_Awards"] = both_awards.loc[index,'Oscar_Wins']+both_awards.loc[index,'Golden_Globe_Wins']

both_awards.sort_values(by='Cumulative_Awards',ascending = False,inplace=True)
both_awards.head(50)

In [ ]:
# Sort the data descending and grab the top 20 cumulative winners to do visualizations with
top20_both_awards = both_awards.sort_values(by='Cumulative_Awards', ascending=False)
top20_movies = top20_both_awards.iloc[0:20, :] 
top20_movies.head()

In [ ]:
# plt.barh(x, y)
x=top20_movies['Title']
y=top20_movies['Cumulative_Awards']
plt.figure(figsize=(10,5))
plt.title('Top 20 movies with total Oscar & Golden Globe wins')
plt.barh(x,y,color='green',alpha=0.7)

In [ ]:
# Take a look at how many awards were won by each decade
per_decade_wins=both_awards['Decades'].value_counts()
per_decade_wins

In [ ]:
# Bar plot for cumulative Oscar and Golden Globe wins by Decade
decade_groupby = both_awards.groupby('Decades')
decades_sum=decade_groupby['Cumulative_Awards'].sum().reset_index()
decades_sum['Cumulative_Awards']
x=decades_sum['Decades']
y=decades_sum['Cumulative_Awards']
#plt.xlabel("Total oscar and golden globe wins")

plt.figure(figsize=(8,5))
plt.title(f"Each Decades' # of Movies with Oscar and Golden Globe Wins")
plt.barh(x,y,color='red',alpha=0.5)

### Pulling genre and produciton country information out of the DataFrame

In [ ]:
# # Testing the Pandas "explode" function
# checkexplode = movie_list["genres"].explode('drama')
# checkexplode